# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# ML / Data
data/
*.csv
*.pkl

# Frontend
node_modules/
dist/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
